name: Auto-update de index.html depuis la liste de contacts contact.json

on:
  push:
    paths:
      - "contact.json"

jobs:
  update-table:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: conversion JSON to HTML table
        uses: Teebra/JSON-to-HTML-table@v2.0.0
        with:
          json-file: contact.json

      - name: écrire le résultat dans un fichier
        run: echo "${{ steps.convert.outputs.html }}" > contacts_table.html
        
      - name: injection du tableau
        run: |
          TABLE=$(cat contacts_table.html)
          awk -v table="$TABLE" '
            /<tbody id='\''__pushctn'\''>/ {print; print table; skip=1; next}
            /<\/tbody>/ {skip=0}
            !skip
          ' index.html > index.new.html
          mv index.new.html index.html

      - name: Commit & push nouveau HTML
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add index.html
          git commit -m "update index.html - nouveau contact"
          git push
